In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

Cargamos el dataset de "World Governance Indicators"

In [7]:
df = pd.read_csv("dataset/world governance indicators/WGIData.csv", usecols=["Country Name", "Country Code", "Indicator Name", "Indicator Code", "2000", "2002", "2003", "2004", "2005", "2006", "2007", "2008", "2009", "2010", "2011", "2012", "2013", "2014", "2015", "2016", "2017", "2018", "2019", "2020"])

In [14]:
df.head()

,Country Name,Country Code,Indicator Name,Indicator Code,2000,2002,2003,2004,2005,2006,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Afghanistan,AFG,Control of Corruption: Estimate,CC.EST,-1.271724,-1.251137,-1.344180,-1.350647,-1.447252,-1.446292,...,-1.600471,-1.430373,-1.445908,-1.364743,-1.348587,-1.534049,-1.521726,-1.489772,-1.407710,-1.480538
1,Afghanistan,AFG,Control of Corruption: Number of Sources,CC.NO.SRC,2.000000,2.000000,3.000000,5.000000,5.000000,7.000000,...,9.000000,10.000000,11.000000,11.000000,11.000000,10.000000,10.000000,10.000000,10.000000,9.000000
2,Afghanistan,AFG,Control of Corruption: Percentile Rank,CC.PER.RNK,4.787234,4.761905,4.761905,6.403941,1.463415,1.951220,...,0.473934,1.421801,0.947867,5.288462,5.769231,3.846154,3.846154,4.807693,6.250000,4.807693
3,Afghanistan,AFG,"Control of Corruption: Percentile Rank, Lower ...",CC.PER.RNK.LOWER,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.480769,0.000000,0.000000,0.000000,1.442308,0.000000
4,Afghanistan,AFG,"Control of Corruption: Percentile Rank, Upper ...",CC.PER.RNK.UPPER,30.851065,32.804234,19.047619,15.270936,13.170732,11.707317,...,4.265403,11.848341,9.952606,12.500000,12.019231,9.615385,9.615385,9.615385,11.057693,10.576923

In [9]:
df.shape

(7704, 24)

Elegimos indicadores que nos interesa analizar

In [10]:
indicadores = ["Control of Corruption: Percentile Rank",
            "Government Effectiveness: Percentile Rank",
            "Political Stability and Absence of Violence/Terrorism: Percentile Rank",
            "Regulatory Quality: Percentile Rank",
            "Rule of Law: Percentile Rank",
            "Voice and Accountability: Percentile Rank"]

Filtramos por los indicadores

In [12]:
df_filtro = df[df["Indicator Name"].isin(indicadores)]

Filas y columnas

In [13]:
df_filtro.shape

(1284, 24)

Tipo de dato de columnas

In [15]:
df_filtro.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1284 entries, 2 to 7700
Data columns (total 24 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Country Name    1284 non-null   object
 1   Country Code    1284 non-null   object
 2   Indicator Name  1284 non-null   object
 3   Indicator Code  1284 non-null   object
 4   2000            1152 non-null   float64
 5   2002            1156 non-null   float64
 6   2003            1166 non-null   float64
 7   2004            1233 non-null   float64
 8   2005            1242 non-null   float64
 9   2006            1244 non-null   float64
 10  2007            1248 non-null   float64
 11  2008            1248 non-null   float64
 12  2009            1266 non-null   float64
 13  2010            1267 non-null   float64
 14  2011            1276 non-null   float64
 15  2012            1276 non-null   float64
 16  2013            1276 non-null   float64
 17  2014            1251 non-null   float64
 18  2015            1251 non-null   float64
 19  2016            1251 non-null   float64
 20  2017            1251 non-null   float64
 21  2018            1257 non-null   float64
 22  2019            1257 non-null   float64
 23  2020            1257 non-null   float64
dtypes: float64(20), object(4)
memory usage: 250.8+ KB

Valores nulos

In [16]:
df_filtro.isna().sum()

Country Name        0
Country Code        0
Indicator Name      0
Indicator Code      0
2000              132
2002              128
2003              118
2004               51
2005               42
2006               40
2007               36
2008               36
2009               18
2010               17
2011                8
2012                8
2013                8
2014               33
2015               33
2016               33
2017               33
2018               27
2019               27
2020               27
dtype: int64

Valores duplicados

In [17]:
df_filtro.duplicated().value_counts()

False    1284
dtype: int64