Previamente instalamos las librerías

In [1]:
#pip install boto3
#pip install awswrangler

**Boto3** es el nombre del SDK de **Python para AWS**. Le permite crear, actualizar y eliminar recursos de AWS directamente desde sus scripts de Python.

**AWS Data Wrangler** es una biblioteca de **Python** de código abierto que le permite concentrarse en el paso de transformación de ETL mediante el uso de comandos de transformación familiares de **Pandas** y confiando en funciones abstractas para manejar los pasos de extracción y carga.

Importamos librerias

In [2]:
import awswrangler as wr
import boto3
import pandas as pd

Creamos nuestra sesión con access key de AWS User

In [3]:
my_session = boto3.Session(
    aws_access_key_id="AKIAVHXNLW5MQJKRCBI5",
    aws_secret_access_key="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",
    region_name="us-east-1"
)

In [4]:
s3_client = boto3.client(
    's3',
    aws_access_key_id="AKIAVHXNLW5MQJKRCBI5",
    aws_secret_access_key="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"
)

Listado de objetos en bucket

In [5]:
wr.s3.list_objects("s3://test-valentino", boto3_session=my_session)

['s3://test-valentino/tips.csv']

Leemos el csv del bucket y lo convertimos en DataFrame

In [6]:
df = wr.s3.read_csv(path="s3://test-valentino/tips.csv", boto3_session=my_session)

In [7]:
df

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [8]:
type(df)

pandas.core.frame.DataFrame

Voy a crear una columna "total_expense" que sea la suma de "total_bill" y "tip" para calcular el gasto total del cliente

In [9]:
df["total_expense"] = df["total_bill"] + df["tip"]

In [10]:
df

     total_bill   tip     sex smoker   day    time  size  total_expense
0         16.99  1.01  Female     No   Sun  Dinner     2          18.00
1         10.34  1.66    Male     No   Sun  Dinner     3          12.00
2         21.01  3.50    Male     No   Sun  Dinner     3          24.51
3         23.68  3.31    Male     No   Sun  Dinner     2          26.99
4         24.59  3.61  Female     No   Sun  Dinner     4          28.20
..          ...   ...     ...    ...   ...     ...   ...            ...
239       29.03  5.92    Male     No   Sat  Dinner     3          34.95
240       27.18  2.00  Female    Yes   Sat  Dinner     2          29.18
241       22.67  2.00    Male    Yes   Sat  Dinner     2          24.67
242       17.82  1.75    Male     No   Sat  Dinner     2          19.57
243       18.78  3.00  Female     No  Thur  Dinner     2          21.78

[244 rows x 8 columns]

Creamos un nuevo bucket en S3

In [11]:
s3_client.create_bucket(Bucket="test-valentino-2")

{'ResponseMetadata': {'RequestId': 'XTK8GPAP94245R2K',
  'HostId': 'Q/BlYzW2chGkTYkOw1gpPzSX/+xjGl7zCGWdOxyDg/NLN5Fn3tQGI9UxXd9HPc9ZCO/eM6rTMwR0u3zjCmy3pQ==',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amz-id-2': 'Q/BlYzW2chGkTYkOw1gpPzSX/+xjGl7zCGWdOxyDg/NLN5Fn3tQGI9UxXd9HPc9ZCO/eM6rTMwR0u3zjCmy3pQ==',
   'x-amz-request-id': 'XTK8GPAP94245R2K',
   'date': 'Wed, 15 Feb 2023 19:03:24 GMT',
   'location': '/test-valentino-2',
   'server': 'AmazonS3',
   'content-length': '0'},
  'RetryAttempts': 0},
 'Location': '/test-valentino-2'}

Subimos el DataFrame modificado al nuevo Bucket y en formato parquet

In [12]:
wr.s3.to_parquet(df=df, path="s3://test-valentino-2/tips.parquet", boto3_session=my_session)

{'paths': ['s3://test-valentino-2/tips.parquet'], 'partitions_values': {}}

Leemos el archivo que acabamos de subir

In [5]:
df = wr.s3.read_parquet(path="s3://test-valentino-2/tips.parquet", boto3_session=my_session)

In [6]:
df

     total_bill   tip     sex smoker   day    time  size  total_expense
0         16.99  1.01  Female     No   Sun  Dinner     2          18.00
1         10.34  1.66    Male     No   Sun  Dinner     3          12.00
2         21.01  3.50    Male     No   Sun  Dinner     3          24.51
3         23.68  3.31    Male     No   Sun  Dinner     2          26.99
4         24.59  3.61  Female     No   Sun  Dinner     4          28.20
..          ...   ...     ...    ...   ...     ...   ...            ...
239       29.03  5.92    Male     No   Sat  Dinner     3          34.95
240       27.18  2.00  Female    Yes   Sat  Dinner     2          29.18
241       22.67  2.00    Male    Yes   Sat  Dinner     2          24.67
242       17.82  1.75    Male     No   Sat  Dinner     2          19.57
243       18.78  3.00  Female     No  Thur  Dinner     2          21.78

[244 rows x 8 columns]

Subir dataframe a RedShift (datawarehouse)

In [7]:
#Establecemos conexión a Redshift a través de Glue
con = wr.redshift.connect(connection="test-conect", boto3_session=my_session)

Creamos tabla

In [42]:
wr.redshift.copy(
    df=df,
    path="s3://test-valentino-2/parquet_files/",
    con=con,
    table="my_table",
    schema="public",
    iam_role="arn:aws:iam::360201303897:role/RedShiftFULLACCESS",
    boto3_session= my_session
)

Cerramos la conexión con la base de datos

In [8]:
con.close()