 ### <center> ***ETL*** </center>
 ---
 #### <center>

In [1]:
import pandas as pd

**Tabla Gini**

In [2]:
gini= pd.read_csv(r'gini.csv')
gini.head(2)

    Entity Code  Year  Gini coefficient
0  Albania  ALB  1996          0.270103
1  Albania  ALB  2002          0.317390

In [3]:
gini.rename(columns={'Entity':'pais','Code':'codigo_pais', 'Year':'anio', 'Gini coefficient': 'valor'}, inplace=True)

In [5]:
gini.fillna(0, inplace= True)

**TABLA PIB**

In [ ]:
PIB= pd.read_csv(r'Pib.csv')
PIB.head(2)

In [3]:
PIB.drop(['Indicator Name', 'Indicator Code', 'Unnamed: 66'], axis=1, inplace= True)

In [5]:
PIB.drop(columns=PIB.columns[2:32],axis=1,inplace= True)

In [16]:
PIB.drop([1,3], axis=0, inplace=True)

In [20]:
PIB.fillna(0, inplace= True)

In [23]:
PIB.rename(columns={'Country Name':'pais','Country Code':'codigo_pais'}, inplace=True)

In [24]:
PIB.head()

,pais,codigo_pais,1990,1991,1992,1993,1994,1995,1996,1997,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Aruba,ABW,2.195805,4.539317,2.370642,4.092615,4.800352,-0.567202,-1.830024,3.854744,...,-1.833977,5.635318,-0.709567,2.885166,1.515938,4.917139,4.738331,0.181216,-18.698325,17.225300
2,Afganistán,AFG,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,8.247144,2.002522,-0.964803,-1.666416,-0.345802,-0.253594,-1.688577,0.932833,-5.364666,-22.965296
4,Angola,AGO,-6.626409,-2.312502,-8.848294,-26.349124,-1.850621,11.278422,9.825458,3.755519,...,4.536024,1.101887,1.028262,-2.646420,-6.011783,-3.633446,-4.676622,-4.014917,-8.635446,-2.050717
5,Albania,ALB,-11.187905,-27.566821,-6.622551,10.229949,8.969762,14.024496,9.780180,-10.361105,...,1.584873,1.187234,1.985388,2.516827,3.480293,3.897741,4.276326,2.523894,-2.925821,9.526027
6,Andorra,AND,0.042321,-0.904014,-2.328613,-4.165030,-0.771998,-0.330384,2.661056,8.165548,...,-5.571256,-4.026027,2.140939,1.257416,2.574505,-1.416579,-0.003870,0.238297,-12.735078,7.110481

**Tabla Empleo por sector**

In [ ]:
empleo_sector= pd.read_csv(r'Employment_for_sector.csv', sep= ';')
empleo_sector.head(2)

In [44]:
empleo_sector.drop(['Series Code', '1990 [YR1990]'], axis=1, inplace= True)

In [46]:
empleo_sector.drop(empleo_sector.index[1596:1601], axis=0, inplace=True)

In [48]:
empleo_sector.rename(columns={'Series Name':'sector',
                              'Country Name':'pais', 
                              'Country Code':'codigo_pais',
                              '1990 [YR1990]':'1990', '2000 [YR2000]':'2000', '2012 [YR2012]':'2012',
                              '2013 [YR2013]':'2013', '2014 [YR2014]':'2014', '2015 [YR2015]':'2015',
                              '2016 [YR2016]':'2016', '2017 [YR2017]':'2017', '2018 [YR2018]':'2018',
                              '2019 [YR2019]':'2019', '2020 [YR2020]':'2020', '2021 [YR2021]':'2021'}, inplace=True)

In [51]:
empleo_sector.replace({"..": 0}, inplace= True)

In [ ]:
empleo_sector.head()

**Tabla Industria migracion**

In [ ]:
industria= pd.read_csv(r'industry_migration_public.csv')
industria.head(2)

In [60]:
industria.drop(['wb_income', 'wb_region', 'isic_section_index','industry_id'], axis=1, inplace=True )

In [63]:
industria.drop(columns=industria.columns[9:26],axis=1,inplace= True)

In [65]:
industria.rename(columns={'country_code ':'codigo_pais','country_name ':'pais',
                          'isic_section_name':'sector', 'industry_name':'industria',
                          'net_per_10K_2015': '2015', 'net_per_10K_2016': '2016', 'net_per_10K_2017': '2017',
                          'net_per_10K_2018': '2018', 'net_per_10K_2019': '2019'}, inplace=True)

**Tabla de habilidades migration**

In [68]:
habilidades= pd.read_csv(r'skill_migration_public.csv')
habilidades.head(2)

,country_code,country_name,wb_income,wb_region,skill_group_id,skill_group_category,skill_group_name,net_per_10K_2015,net_per_10K_2016,net_per_10K_2017,...,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28
0,af,Afghanistan,Low income,South Asia,2549.0,Tech Skills,Information Management,-791.59,-705.88,-550.04,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,af,Afghanistan,Low income,South Asia,2608.0,Business Skills,Operational Efficiency,-1610.25,-933.55,-776.06,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [70]:
habilidades.drop(['wb_income', 'wb_region', 'skill_group_id'], axis=1, inplace=True )

In [74]:
habilidades.drop(columns=habilidades.columns[9:26],axis=1,inplace= True)

In [76]:
habilidades.rename(columns={'country_code ':'codigo_pais','country_name ':'pais',
                          'skill_group_category':'categoria', 'skill_group_name':'habilidad',
                          'net_per_10K_2015': '2015', 'net_per_10K_2016': '2016', 'net_per_10K_2017': '2017',
                          'net_per_10K_2018': '2018', 'net_per_10K_2019': '2019'}, inplace=True)

In [81]:
habilidades= habilidades.drop_duplicates()

**Tabla de empleo, desempleo y participacion**

In [142]:
Porcentaje_empleo_desempleo_participacion= pd.read_csv(r'Employment, unemployment, and participation rates by place of birth and sex.csv')
Porcentaje_empleo_desempleo_participacion.head(2)

,COUNTRY,Country,BIRTH,Place of birth,GENDER,Gender,RATE,Rate,YEAR,Year,Unit Code,Unit,PowerCode Code,PowerCode,Reference Period Code,Reference Period,Value,Flag Codes,Flags
0,AUS,Australia,FB,Foreign-born,MEN,Men,N_RATE,Employment rate,2000,2000,PC,Percentage,0,Units,NaN,NaN,74.0,NaN,NaN
1,AUS,Australia,FB,Foreign-born,MEN,Men,N_RATE,Employment rate,2001,2001,PC,Percentage,0,Units,NaN,NaN,73.9,NaN,NaN

In [143]:
Porcentaje_empleo_desempleo_participacion.drop(['BIRTH', 'GENDER', 'RATE', 'YEAR', 'Flag Codes', 'Flags'], axis=1, inplace= True)

In [144]:
Porcentaje_empleo_desempleo_participacion.drop(columns=Porcentaje_empleo_desempleo_participacion.columns[6:12],axis=1,inplace= True)

In [145]:
Porcentaje_empleo_desempleo_participacion.rename(columns={'COUNTRY':'codigo_pais','Country ':'pais',
                          'Place of birth':'lugar_de_nacimiento', 'Gender':'genero',
                          'Rate': 'referencia_tasas', 'Year': 'anio', 'Value': 'valor'}, inplace=True)

In [ ]:
Porcentaje_empleo_desempleo_participacion= Porcentaje_empleo_desempleo_participacion[(Porcentaje_empleo_desempleo_participacion['genero']== 'Total')]
Porcentaje_empleo_desempleo_participacion.head(2)

In [148]:
Porcentaje_empleo_desempleo_participacion.drop(['genero'], axis=1, inplace= True)

**Tabla de Tasa de participacion**

In [106]:
participacion= pd.read_csv(r'Tasa de participación en la fuerza de trabajo.csv')
participacion.head(2)

,ref_area,ref_area.label,source,source.label,indicator,indicator.label,sex,sex.label,classif1,classif1.label,...,time,obs_value,obs_status,obs_status.label,note_classif,note_classif.label,note_indicator,note_indicator.label,note_source,note_source.label
0,AFG,Afganistán,BB:6361,EIGH - Encuesta de Condiciones de Vida,MST_TEAP_SEX_AGE_CBR_RT,Tasa de participación en la fuerza de trabajo ...,SEX_T,Sexo: Total,AGE_YTHADULT_YGE15,"Edad (Jóvenes, adultos): 15+",...,2014,51.7,NaN,NaN,NaN,NaN,NaN,NaN,R1:3513,Repositorio: OIT-STATISTICS - Procesamiento de...
1,AFG,Afganistán,BB:6361,EIGH - Encuesta de Condiciones de Vida,MST_TEAP_SEX_AGE_CBR_RT,Tasa de participación en la fuerza de trabajo ...,SEX_T,Sexo: Total,AGE_YTHADULT_YGE15,"Edad (Jóvenes, adultos): 15+",...,2014,55.1,NaN,NaN,NaN,NaN,NaN,NaN,R1:3513,Repositorio: OIT-STATISTICS - Procesamiento de...

In [107]:
participacion.drop(['source', 'source.label', 'indicator', 'indicator.label','sex', 'sex.label', 'classif1', 'classif2'], axis=1, inplace= True)

In [109]:
participacion.drop(columns=participacion.columns[6:15],axis=1,inplace= True)

In [112]:
participacion.rename(columns={'ref_area':'codigo_pais','ref_area.label':'pais',
                          'classif1.label':'edad', 'classif2.label':'lugar_de_nacimiento',
                          'time': 'anio', 'obs_value': 'valor'}, inplace=True)

In [ ]:
participacion= participacion[(participacion['edad']== 'Edad (Tramos agregados): Total')]
participacion

In [136]:
participacion.drop(['edad'], axis=1, inplace=True)

**Tabla de migracion neta banco mundial**

In [156]:
migracion_neta= pd.read_csv(r'migracion_neta.csv')
migracion_neta.head(2)

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,Unnamed: 66
0,Aruba,ABW,Net migration,SM.POP.NETM,0.0,-569.0,-609.0,-646.0,-684.0,-726.0,...,134.0,88.0,177.0,170.0,218.0,367.0,412.0,0.0,501.0,NaN
1,Africa Eastern and Southern,AFE,Net migration,SM.POP.NETM,-90849.0,-1348.0,-24259.0,-16266.0,37452.0,11041.0,...,-92842.0,-199608.0,394925.0,-864708.0,-343075.0,-366105.0,-187410.0,-48955.0,-179444.0,NaN

In [157]:
migracion_neta.drop(['Indicator Name', 'Indicator Code', 'Unnamed: 66'], axis=1, inplace= True)

In [162]:
migracion_neta.head(2)

,pais,codigo_pais,1990,1991,1992,1993,1994,1995,1996,1997,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Aruba,ABW,879.0,1946.0,1294.0,1662.0,1668.0,1598.0,1636.0,1656.0,...,229.0,134.0,88.0,177.0,170.0,218.0,367.0,412.0,0.0,501.0
1,Africa Eastern and Southern,AFE,22815.0,-511160.0,-556663.0,-156997.0,-391945.0,-243945.0,-427138.0,-813478.0,...,-285231.0,-92842.0,-199608.0,394925.0,-864708.0,-343075.0,-366105.0,-187410.0,-48955.0,-179444.0

In [159]:
migracion_neta.drop(columns=migracion_neta.columns[2:32],axis=1,inplace= True)

In [161]:
migracion_neta.rename(columns={'Country Name':'pais','Country Code':'codigo_pais'}, inplace=True)

In [174]:
migracion_neta.drop([110], axis=0, inplace=True)