In [83]:
import pandas as pd

In [84]:
PIB= pd.read_csv(r'Pib.csv')

In [85]:
PIB.drop(['Indicator Name', 'Indicator Code', 'Unnamed: 66'], axis=1, inplace= True)

In [86]:
PIB.drop(columns=PIB.columns[2:32],axis=1,inplace= True)

In [87]:
PIB.drop([1,3], axis=0, inplace=True)

In [88]:
PIB.fillna(0, inplace= True)

In [89]:
PIB.rename(columns={'Country Name':'pais','Country Code':'codigo_pais'}, inplace=True)

In [90]:
pib = PIB.melt(id_vars=['pais','codigo_pais'], var_name='anio', value_name='PIB')

In [91]:
pib['anio'] = pib['anio'].astype('int64')

In [ ]:
paises = ['El mundo árabe', 'Europa Central y del Báltico', 'Estados pequeos del Caribe', 'Asia oriental y el Pacífico (excluido altos ingresos)', 
          'inicial del dividendo demográfico', 'Asia oriental y el Pacífico', 'Europa y Asia central (excluido altos ingresos)', 'Europa y Asia central', 
          'Zona del Euro', 'Unión Europea', 'Frágiles y situaciones de conflicto afectados', 'Ingreso mediano alto', 'Islas Vírgenes (EE.UU.)', 'Mundo',
          'Países pobres muy endeudados (PPME)', 'Sólo BIRF', 'BIRF y la AIF', 'total de la AIF', 'mezcla de la AIF','Sólo AIF', 'Isla de Man', 
          'No clasificado', 'Islas Feroe', 'Ingreso alto']

In [ ]:
indices = pib[pib['pais'].isin(paises)].index

In [ ]:
pib.drop(indices, inplace=True)

In [92]:
pib.head()

         pais codigo_pais  anio        PIB
0       Aruba         ABW  1990   2.195805
1  Afganistán         AFG  1990   0.000000
2      Angola         AGO  1990  -6.626409
3     Albania         ALB  1990 -11.187905
4     Andorra         AND  1990   0.042321

In [93]:
df_salario_minimo = pd.read_csv(r'Datsets\salario_minimo_mensual_bruto_anual_dolares.csv',sep=',', header=0)

In [94]:
df_salario_minimo.drop('source', axis=1, inplace=True)
df_salario_minimo.drop('source.label', axis=1, inplace=True)
df_salario_minimo.drop('indicator', axis=1, inplace=True)
df_salario_minimo.drop('indicator.label', axis=1, inplace=True)
df_salario_minimo.drop('classif1', axis=1, inplace=True)
df_salario_minimo.drop('classif1.label', axis=1, inplace=True)
df_salario_minimo.drop('obs_status', axis=1, inplace=True)
df_salario_minimo.drop('obs_status.label', axis=1, inplace=True)
df_salario_minimo.drop('note_indicator', axis=1, inplace=True)
df_salario_minimo.drop('note_indicator.label', axis=1, inplace=True)
df_salario_minimo.drop('note_source', axis=1, inplace=True)
df_salario_minimo.drop('note_source.label', axis=1, inplace=True)

In [95]:
df_salario_minimo.rename(columns={'ref_area':'codigo_pais', 'ref_area.label':'pais', 'time':'anio', 'obs_value':'salario_minimo'}, inplace=True)

In [96]:
df_salario_minimo = df_salario_minimo[(df_salario_minimo['anio'] >= 1990)]

In [97]:
df_average_wages = pd.read_csv(r'Datsets\average_wages.csv', sep=',', header=0)

In [98]:
df_average_wages.drop('INDICATOR', axis=1, inplace=True)
df_average_wages.drop('SUBJECT', axis=1, inplace=True)
df_average_wages.drop('MEASURE', axis=1, inplace=True)
df_average_wages.drop('FREQUENCY', axis=1, inplace=True)
df_average_wages.drop('Flag Codes', axis=1, inplace=True)

In [99]:
df_average_wages.rename(columns={'LOCATION':'codigo_pais', 'TIME':'anio', 'Value':'salario_promedio'}, inplace=True)

In [ ]:
indices1 = df_average_wages[df_average_wages['codigo_pais'] == 'OECD'].index

In [ ]:
df_average_wages.drop(indices1, inplace=True)

In [100]:
df_average_wages.head()

  codigo_pais  anio  salario_promedio
0         AUS  1990      40519.083621
1         AUS  1991      40328.934866
2         AUS  1992      41135.798085
3         AUS  1993      41513.545516
4         AUS  1994      41789.766398

In [101]:
df_wage_levels = pd.read_csv(r'Datsets\wage_levels.csv', sep=',', header=0)

In [102]:
df_wage_levels.drop('INDICATOR', axis=1, inplace=True)
df_wage_levels.drop('MEASURE', axis=1, inplace=True)
df_wage_levels.drop('FREQUENCY', axis=1, inplace=True)
df_wage_levels.drop('Flag Codes', axis=1, inplace=True)

In [103]:
df_wage_levels = df_wage_levels[(df_wage_levels['TIME'] >= 1990)]

In [104]:
df_wage_levels_low = df_wage_levels[df_wage_levels['SUBJECT'] == 'LPAY'].rename(columns={'Value':'ingresos_bajos'}).drop(['SUBJECT'], axis=1)

In [105]:
df_wage_levels_high = df_wage_levels[df_wage_levels['SUBJECT'] == 'HPAY'].rename(columns={'Value':'ingresos_altos'}).drop(['SUBJECT'], axis=1)

In [106]:
df_wage_levels_merged = pd.merge(df_wage_levels_high, df_wage_levels_low, on=['LOCATION','TIME'], how='outer')

In [107]:
df_wage_levels_merged.rename(columns={'LOCATION':'codigo_pais', 'SUBJECT':'tipo', 'TIME': 'anio'}, inplace=True)

In [ ]:
indices2 = df_wage_levels_merged[(df_wage_levels_merged['codigo_pais'] == 'EU27') | (df_wage_levels_merged['codigo_pais'] == 'OECD')].index

In [ ]:
df_wage_levels_merged.drop(indices2, inplace=True)

In [109]:
agricultura =pd.read_csv(r'Datsets\empleos_agricultura.csv')

In [110]:
agricultura.drop(['Indicator Name','Indicator Code',"1960","1961","1962","1963","1964","1965","1966","1967","1968","1969","1970","1971","1972","1973","1974","1975","1976","1977","1978","1979","1980","1981","1982","1983","1984","1985","1986","1987","1988","1989",'1990','2020','2021','Unnamed: 66'], axis=1, inplace= True)

In [111]:
agricultura = agricultura.melt(id_vars=['Country Name','Country Code'], var_name='anio', value_name='%empleo_agricultura')

In [112]:
agricultura.rename(columns={'Country Name':'pais','Country Code':'codigo_pais'}, inplace=True)

In [ ]:
agricultura.dropna(subset='pais', inplace=True)
agricultura.dropna(subset='%empleo_agricultura', inplace=True)

In [113]:
agricultura['anio'] = agricultura['anio'].astype('int64')

In [ ]:
indices3 = agricultura[agricultura['pais'].isin(paises)].index

In [ ]:
agricultura.drop(indices3, inplace=True)

In [115]:
industria = pd.read_csv(r'Datsets\empleos_industria.csv')

In [116]:
industria.drop(['Indicator Name','Indicator Code',"1960","1961","1962","1963","1964","1965","1966","1967","1968","1969","1970","1971","1972","1973","1974","1975","1976","1977","1978","1979","1980","1981","1982","1983","1984","1985","1986","1987","1988","1989",'1990','2020','2021','Unnamed: 66'], axis=1, inplace= True)

In [117]:
industria = industria.melt(id_vars=['Country Name','Country Code'], var_name='anio', value_name='%empleo_industria')

In [118]:
industria.rename(columns={'Country Name':'pais','Country Code':'codigo_pais'}, inplace=True)

In [ ]:
industria.dropna(subset='pais', inplace=True)
industria.dropna(subset='%empleo_industria', inplace=True)

In [119]:
industria['anio'] = industria['anio'].astype('int64')

In [ ]:
indices4 = industria[industria['pais'].isin(paises)].index

In [ ]:
industria.drop(indices4, inplace=True)

In [120]:
industria.head()

         pais codigo_pais  anio  %empleo_industria
0       Aruba         ABW  1991                NaN
1         NaN         AFE  1991          10.018941
2  Afganistán         AFG  1991          12.430000
3         NaN         AFW  1991          11.787986
4      Angola         AGO  1991           8.880000

In [121]:
servicio = pd.read_csv(r'Datsets\empleos_servicio.csv')

In [122]:
servicio.drop(['Indicator Name','Indicator Code',"1960","1961","1962","1963","1964","1965","1966","1967","1968","1969","1970","1971","1972","1973","1974","1975","1976","1977","1978","1979","1980","1981","1982","1983","1984","1985","1986","1987","1988","1989",'1990','2020','2021','Unnamed: 66'], axis=1, inplace= True)

In [123]:
servicio = servicio.melt(id_vars=['Country Name','Country Code'], var_name='anio', value_name='%empleo_servicio')

In [124]:
servicio.rename(columns={'Country Name':'pais','Country Code':'codigo_pais'}, inplace=True)

In [ ]:
servicio.dropna(subset='pais', inplace=True)
servicio.dropna(subset='%empleo_servicio', inplace=True)

In [125]:
servicio['anio'] = servicio['anio'].astype('int64')

In [ ]:
indices5 = servicio[servicio['pais'].isin(paises)].index

In [ ]:
servicio.drop(indices5, inplace=True)

In [127]:
merge1 = pd.merge(pib, df_salario_minimo, on=['codigo_pais','anio'], how='outer')

In [ ]:
merge1['pais_x'].fillna(merge1['pais_y'], inplace=True)

In [ ]:
merge1.drop('pais_y', axis=1, inplace=True)

In [128]:
merge2 = pd.merge(merge1, df_average_wages, on=['codigo_pais','anio'], how='outer')

In [129]:
merge3 = pd.merge(merge2, df_wage_levels_merged, on=['codigo_pais','anio'], how='outer')

In [130]:
merge4 =pd.merge(merge3, agricultura, on=['codigo_pais','anio'], how='outer')

In [ ]:
merge4.drop('pais', axis=1, inplace=True)

In [131]:
merge5 = pd.merge(merge4, industria, on=['codigo_pais','anio'], how='outer')

In [ ]:
merge5.drop('pais', axis=1, inplace=True)

In [132]:
fact_ind_economicos = pd.merge(merge5, servicio, on=['codigo_pais','anio'], how='outer')

In [ ]:
fact_ind_economicos.drop('pais', axis=1, inplace=True)

In [ ]:
fact_ind_economicos.sort_values(by=['codigo_pais', 'anio'], inplace=True)

In [ ]:
fact_ind_economicos.reset_index(drop=True, inplace=True)