In [1]:
import pandas as pd

In [3]:
PIB= pd.read_csv(r'Etl\Pib.csv')
PIB.head(2)

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,Unnamed: 66
0,Aruba,ABW,Crecimiento del PIB per cápita (% anual),NY.GDP.PCAP.KD.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,5.635318,-0.709567,2.885166,1.515938,4.917139,4.738331,0.181216,-18.698325,17.22530,NaN
1,NaN,AFE,Crecimiento del PIB per cápita (% anual),NY.GDP.PCAP.KD.ZG,NaN,-2.360093,5.112132,2.346033,1.728251,2.418551,...,1.402217,1.182822,0.169095,-0.490755,-0.106816,-0.172927,-0.596607,-5.433164,1.64308,NaN

In [4]:
PIB.drop(['Indicator Name', 'Indicator Code', 'Unnamed: 66'], axis=1, inplace= True)

In [5]:
PIB.drop(columns=PIB.columns[2:32],axis=1,inplace= True)

In [6]:
PIB.drop([1,3], axis=0, inplace=True)

In [7]:
PIB.fillna(0, inplace= True)

In [8]:
PIB.rename(columns={'Country Name':'pais','Country Code':'codigo_pais'}, inplace=True)

In [9]:
pib = PIB.melt(id_vars=['pais','codigo_pais'], var_name='anio', value_name='PIB')

In [46]:
pib['anio'] = pib['anio'].astype('int64')

In [48]:
pib.head()

         pais codigo_pais  anio        PIB
0       Aruba         ABW  1990   2.195805
1  Afganistán         AFG  1990   0.000000
2      Angola         AGO  1990  -6.626409
3     Albania         ALB  1990 -11.187905
4     Andorra         AND  1990   0.042321

In [11]:
df_salario_minimo = pd.read_csv(r'migracion_charly\salario_minimo_mensual_bruto_anual_dolares.csv',sep=',', header=0)
df_salario_minimo.head()

,ref_area,ref_area.label,source,source.label,indicator,indicator.label,classif1,classif1.label,time,obs_value,obs_status,obs_status.label,note_indicator,note_indicator.label,note_source,note_source.label
0,AFG,Afganistán,FX:3344,ADM - Legislación Laboral,EAR_4MMN_CUR_NB,Salario mínimo nominal mensual bruto,CUR_TYPE_USD,Divisa: Dólar estadounidense,2020,71.60,NaN,NaN,T30:110_I19:6291,Moneda: AFG - Afgani afgano (AFN) | Tipo de sa...,NaN,NaN
1,AFG,Afganistán,FX:3344,ADM - Legislación Laboral,EAR_4MMN_CUR_NB,Salario mínimo nominal mensual bruto,CUR_TYPE_USD,Divisa: Dólar estadounidense,2019,70.75,NaN,NaN,T30:110_I19:6291,Moneda: AFG - Afgani afgano (AFN) | Tipo de sa...,NaN,NaN
2,AFG,Afganistán,FX:3344,ADM - Legislación Laboral,EAR_4MMN_CUR_NB,Salario mínimo nominal mensual bruto,CUR_TYPE_USD,Divisa: Dólar estadounidense,2018,76.30,NaN,NaN,T30:110_I19:6291,Moneda: AFG - Afgani afgano (AFN) | Tipo de sa...,NaN,NaN
3,AFG,Afganistán,FX:3344,ADM - Legislación Laboral,EAR_4MMN_CUR_NB,Salario mínimo nominal mensual bruto,CUR_TYPE_USD,Divisa: Dólar estadounidense,2017,80.85,NaN,NaN,T30:110_I19:6291,Moneda: AFG - Afgani afgano (AFN) | Tipo de sa...,NaN,NaN
4,AFG,Afganistán,FX:3344,ADM - Legislación Laboral,EAR_4MMN_CUR_NB,Salario mínimo nominal mensual bruto,CUR_TYPE_USD,Divisa: Dólar estadounidense,2016,73.67,NaN,NaN,T30:110_I19:6291,Moneda: AFG - Afgani afgano (AFN) | Tipo de sa...,NaN,NaN

In [12]:
df_salario_minimo.drop('source', axis=1, inplace=True)
df_salario_minimo.drop('source.label', axis=1, inplace=True)
df_salario_minimo.drop('indicator', axis=1, inplace=True)
df_salario_minimo.drop('indicator.label', axis=1, inplace=True)
df_salario_minimo.drop('classif1', axis=1, inplace=True)
df_salario_minimo.drop('classif1.label', axis=1, inplace=True)
df_salario_minimo.drop('obs_status', axis=1, inplace=True)
df_salario_minimo.drop('obs_status.label', axis=1, inplace=True)
df_salario_minimo.drop('note_indicator', axis=1, inplace=True)
df_salario_minimo.drop('note_indicator.label', axis=1, inplace=True)
df_salario_minimo.drop('note_source', axis=1, inplace=True)
df_salario_minimo.drop('note_source.label', axis=1, inplace=True)

In [13]:
df_salario_minimo.rename(columns={'ref_area':'codigo_pais', 'ref_area.label':'pais', 'time':'anio', 'obs_value':'salario_minimo'}, inplace=True)

In [14]:
df_salario_minimo = df_salario_minimo[(df_salario_minimo['anio'] >= 1990)]

In [43]:
df_salario_minimo.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2939 entries, 0 to 2941
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   codigo_pais     2939 non-null   object
 1   pais            2939 non-null   object
 2   anio            2939 non-null   int64
 3   salario_minimo  2939 non-null   float64
dtypes: float64(1), int64(1), object(2)
memory usage: 114.8+ KB

In [18]:
df_average_wages = pd.read_csv(r'migracion_charly\average_wages.csv', sep=',', header=0)

In [19]:
df_average_wages.drop('INDICATOR', axis=1, inplace=True)
df_average_wages.drop('SUBJECT', axis=1, inplace=True)
df_average_wages.drop('MEASURE', axis=1, inplace=True)
df_average_wages.drop('FREQUENCY', axis=1, inplace=True)
df_average_wages.drop('Flag Codes', axis=1, inplace=True)

In [20]:
df_average_wages.rename(columns={'LOCATION':'codigo_pais', 'TIME':'anio', 'Value':'salario_promedio'}, inplace=True)

In [21]:
df_average_wages.head()

  codigo_pais  anio  salario_promedio
0         AUS  1990      40519.083621
1         AUS  1991      40328.934866
2         AUS  1992      41135.798085
3         AUS  1993      41513.545516
4         AUS  1994      41789.766398

In [29]:
df_wage_levels = pd.read_csv(r'migracion_charly\wage_levels.csv', sep=',', header=0)

In [30]:
df_wage_levels.drop('INDICATOR', axis=1, inplace=True)
df_wage_levels.drop('MEASURE', axis=1, inplace=True)
df_wage_levels.drop('FREQUENCY', axis=1, inplace=True)
df_wage_levels.drop('Flag Codes', axis=1, inplace=True)

In [32]:
df_wage_levels = df_wage_levels[(df_wage_levels['TIME'] >= 1990)]

In [33]:
df_wage_levels_low = df_wage_levels[df_wage_levels['SUBJECT'] == 'LPAY'].rename(columns={'Value':'low_pay'}).drop(['SUBJECT'], axis=1)

In [34]:
df_wage_levels_high = df_wage_levels[df_wage_levels['SUBJECT'] == 'HPAY'].rename(columns={'Value':'high_pay'}).drop(['SUBJECT'], axis=1)

In [37]:
df_wage_levels_merged = pd.merge(df_wage_levels_high, df_wage_levels_low, on=['LOCATION','TIME'], how='outer')

In [38]:
df_wage_levels_merged.rename(columns={'LOCATION':'codigo_pais', 'SUBJECT':'tipo', 'TIME': 'anio'}, inplace=True)

In [40]:
df_wage_levels_merged.head()

  codigo_pais  anio   high_pay    low_pay
0         AUT  2004  19.678054  15.153088
1         AUT  2005  20.000020  15.275962
2         AUT  2006  20.203231  15.789915
3         AUT  2007  20.379933  16.193482
4         AUT  2008  20.455821  15.865556

In [51]:
merge1 = pd.merge(pib, df_salario_minimo, on=['codigo_pais','pais','anio'], how='outer')

In [53]:
merge2 = pd.merge(merge1, df_average_wages, on=['codigo_pais','anio'], how='outer')

In [56]:
fact_ind_economicos = pd.merge(merge2, df_wage_levels_merged, on=['codigo_pais','anio'], how='outer')

In [57]:
fact_ind_economicos.head()

,pais,codigo_pais,anio,PIB,salario_minimo,salario_promedio,high_pay,low_pay
0,Aruba,ABW,1990,2.195805,NaN,NaN,NaN,NaN
1,Afganistán,AFG,1990,0.000000,NaN,NaN,NaN,NaN
2,Angola,AGO,1990,-6.626409,NaN,NaN,NaN,NaN
3,Albania,ALB,1990,-11.187905,NaN,NaN,NaN,NaN
4,Andorra,AND,1990,0.042321,NaN,NaN,NaN,NaN